.muscle-selector {
  display: flex;
  gap: 4em;
  padding: 0.35em;
  flex-direction: row;
  justify-self: center;
  position: relative;
  margin-top: 0.000005em;
  text-align: left;
  text-overflow: ellipsis;
}

.musclegroup-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  width: fit-content;
  min-width: 400px;
  margin-top: 2em;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: contain;
}

.muscletext {
  font-size: 40px;
}

.muscle-selector button {
  display: block;
  margin-left: auto;
  float: right;
  border: 0 solid transparent;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3em;
}
.muscleImgitem {
  position: absolute;
  overflow: visible;
  z-index: 1;
  justify-content: safe center;
  background: transparent;
  background-image: none;
  display: hidden;
}

.muscle-showcase img {
  position: absolute;
  display: flex;
  justify-content: safe center;
  max-height: 100%;
  max-width: 100%;
  opacity: 55%;
  filter: grayscale(100%);
  width: 390px;
  height: 600px;
  object-fit: contain;

  z-index: 999;
}

.muscle-showcase-active img {
  position: absolute;
  display: flex;
  justify-content: safe center;
  max-height: 100%;
  max-width: 100%;
  opacity: 55%;

  width: 390px;
  height: 600px;
  object-fit: contain;

  z-index: 999;
}

.muscleImgContainer {
  display: block;
  position: absolute;

  z-index: 2;
}

/* .muscleImgContainer img {
  position: fixed;
} */

.muscle-selector:nth-child(4) {
  margin: 0 auto;
  margin-left: 3em;
  padding: 5px;
  background-color: cadetblue;
}

.muscletext {
  display: block;
}
