.musclegroupcontainer {
  margin: 0 auto;
  width: 30%;

  height: 100%;
}
.muscleImgitem {
  position: absolute;
  z-index: 1;
  top: -5em;
  left: -1em;
  right: 0;
  margin: 12em auto;
  width: 30%;
  height: 100%;
  background: none;
  background: transparent;
  background-image: none;
}
.muscleImgitem img {
  margin: 0 auto;
  padding: 5px;
  position: absolute;
  background: none;
  background-image: none;
}
.muscletext {
  display: block;
}

.muscleImgitem:hover {
  opacity: 0.7 !important;
  background-color: gold;
  filter: sepia(100%);
  box-shadow: 2 0 0px #bee901de !important;
}

.muscle-selector {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.000005em;
  margin-left: -15em;
  padding: 0;
  text-align: center;
}

.muscle-selector ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  margin-left: -10em;
}

.muscle-selector li {
  justify-content: space-around;
  padding: 0.25em;
}

.muscle-selector li button {
  float: inline-end;
  flex-wrap: wrap-reverse;
  border: 0 solid transparent;
}
